.current {
  display: flex;
  /* border: 2px solid red; */
  font-size: 30px;
  background-color: #43464B;
  text-align: center;
  width: 100%;
  
}

.btn {
  border: 2px solid red;
}

img{
  /* border: 2px solid red; */
  width: 300px;
  height: 300px;
}

.earrings {
  display: inline-block;
  width: 1000px;
}

.showcase {
  width: 720px;
  height: 1280px;
}

.earrings > img {
  position: relative;
  width: 400px;
  height: 400px;
}



.newProduct {
  flex-grow: 3;
}

.newProduct > h1 {
  padding-top: 100px;
}