.current {
  display: flex;
  /* border: 2px solid red; */
  font-size: 30px;
  background-color: #43464B;
  text-align: center;
  width: 100%;
  
}

.btn {
  border: 2px solid red;
}

img{
  /* border: 2px solid red; */
  width: 300px;
  height: 300px;
}

.earrings {
  display: inline-block;
  width: 1000px;
}

.showcase {
  width: 720px;
  height: 1280px;
}

.earrings > img {
  position: relative;
  width: 400px;
  height: 400px;
}



.newProduct {
  flex-grow: 3;
}

.newProduct > h1 {
  padding-top: 100px;
}

.types {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
} 

.types > img {
  width: 200px;
  height: 200px;
}

.homeText {
  width: 500px;
  margin: 0px auto;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}



